@keyframes rotate {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(360deg);
  }
}

@keyframes left {
  from {
    margin-left: -500px;
  }

  to {
    margin-left: 0;
  }
}

@keyframes move {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(-4deg);
  }

  75% {
    transform: rotate(4deg);
  }

  100% {
    transform: rotate(0);
  }
}